# rcov generated
coverage
coverage.data

# rdoc generated
rdoc

# yard generated
doc
.yardoc
_yard

# bundler
.bundle

# jeweler generated
pkg

.DS_Store

*.gem
*.rbc
.bundle
.config
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
test.rb
t.rb
